/* === Global styles all pages === */ 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px; 
    color: #525151;
}

a {
    color: #525151; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* === Landing page style (index.html) === */
.user-list {
    max-width: 600px;
    margin: 40px auto;
    padding: 0;
    list-style-type: none;
}

.user-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6e7d8;
    margin-bottom: 10px;
    padding: 14px 14px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

}

.delete-button {
    background-color: #8b1e3f;
    color: #fff5f5; 
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #6a122e;
}

.create-user-link {
    font-weight: bold;
    color: #8b1e3f;
}

.create-user-link:hover {
    text-decoration: underline;
    color: #5d1024;
}

.user-list li:last-child {
    margin-top: 20px;
}


/* === Profile page (profile.html) === */
.profile-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f6e7d8;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.edit-button {
    background-color: #8b1e3f;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
}

.edit-button:hover {
    background-color: #6a122e;
}

.back-link {
    display: inline-block;
    margin-top: 30px;
    color: #858585;
}

.back-link:hover {
    text-decoration: underline;
}

/* === Edit page (edit.html) === */
.new-user-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f6e7d8; 
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
    color: #8b1e3f;
}

input,
textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
}

textarea {
    resize: vertical;
}

.save-button {
    margin-top: 20px;
    background-color: #8b1e3f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #6a122e;
}

.cancel-link {
    margin-top: 10px;
    color: #888;
    display: inline-block;
}

.cancel-link:hover {
    text-decoration: underline;
}

/* === Create page (create.html) === */
.new-user-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fef2ea; 
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.new-user-container h1 {
    margin-bottom: 20px;
    color: #525151; 
}

.new-user-container form {
    display: flex;
    flex-direction: column;
}

.new-user-container label {
    margin-top: 15px;
    font-weight: bold;
    color: #525151; 
}

.new-user-container input,
.new-user-container textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
}