<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Profile</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <div class="profile-container">
        <h1 id="profile-name">Michelle</h1>
        <p><strong>Nickname:</strong> <span id="profile-nickname">Exempel text</span></p>
        <p><strong>Age:</strong> <span id="profile-age">18</span></p>
        <p><strong>Bio:</strong></p>
        <p id="profile-bio">A text here</p>
        <a href="edit.html" class="edit-button">Edit</button>
        <a href="index.html" class="back-link">Back to user</button>
        </div>

        <!-- JS kommer senare -->
        <script src="">profile.js</script>
    </body>
</html>    