<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Users</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <h1 class="landing-header">Welcome</h1>
        <section id="user-section">
        </section>
        <script src="">index.js</script>
            <div class="user-list-container">
                <h2 class="landing-subheader">All users</h2>
                <ul class="user-list">
                    <li>
                        <a href="profile.html?id=1">Arya Stark</a>
                        <button class="delete-button">X</button>
                    </li>  
                    <li>
                        <a href="profile.html?id=2">Daenerys</a>
                        <button class="delete-button">X</button>
                    </li>
                    <li>
                        <a href="profile.html?id=3">Jon Snow</a>
                        <button class="delete-button">X</button>
                    </li> 
                

                    <!-- Create new user link-->
                     <li>
                        <a href="create.html" class="create-user-link">Create new user</a>
                     </li>
                </ul>    
            </div>
    </body>
</html>